-- ================================================
-- MIGRAÇÃO DO SISTEMA SHHHHCOIN
-- ================================================

-- Tipos enum
CREATE TYPE IF NOT EXISTS shhhhcoin_transaction_type AS ENUM ('earned', 'spent', 'purchased', 'refunded', 'bonus');
CREATE TYPE IF NOT EXISTS referral_status AS ENUM ('pending', 'completed', 'expired');
CREATE TYPE IF NOT EXISTS product_status AS ENUM ('active', 'inactive', 'sold_out');

-- Carteiras
CREATE TABLE IF NOT EXISTS shhhhcoin_wallets (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    balance DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    total_earned DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    total_spent DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(user_id)
);

-- Transações
CREATE TABLE IF NOT EXISTS shhhhcoin_transactions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    wallet_id UUID NOT NULL REFERENCES shhhhcoin_wallets(id) ON DELETE CASCADE,
    transaction_type shhhhcoin_transaction_type NOT NULL,
    amount DECIMAL(10,2) NOT NULL,
    description TEXT NOT NULL,
    reference_id UUID,
    reference_type TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Convites
CREATE TABLE IF NOT EXISTS referral_invites (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    inviter_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    invited_user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    invite_code TEXT NOT NULL UNIQUE,
    status referral_status NOT NULL DEFAULT 'pending',
    reward_amount DECIMAL(10,2) NOT NULL DEFAULT 100.00,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Produtos
CREATE TABLE IF NOT EXISTS shhhhcoin_products (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    description TEXT NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    category TEXT NOT NULL,
    status product_status NOT NULL DEFAULT 'active',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Compras
CREATE TABLE IF NOT EXISTS shhhhcoin_purchases (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    product_id UUID NOT NULL REFERENCES shhhhcoin_products(id) ON DELETE CASCADE,
    amount_paid DECIMAL(10,2) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Produtos iniciais
INSERT INTO shhhhcoin_products (name, description, price, category) VALUES
('Filtro de Voz Premium', 'Filtros de voz exclusivos', 50.00, 'filters'),
('Tema Escuro Premium', 'Interface escura elegante', 25.00, 'themes'),
('Destaque no Feed', 'Apareça em destaque', 15.00, 'promotion'),
('Áudio Estendido', 'Grave até 5 minutos', 40.00, 'features'),
('Badge Verificado', 'Badge especial', 100.00, 'badges')
ON CONFLICT DO NOTHING;

-- Políticas RLS
ALTER TABLE shhhhcoin_wallets ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_transactions ENABLE ROW LEVEL SECURITY;
ALTER TABLE referral_invites ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_products ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_purchases ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
wallet_policy\ ON shhhhcoin_wallets FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY \transaction_policy\ ON shhhhcoin_transactions FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY \invite_policy\ ON referral_invites FOR SELECT TO authenticated USING (auth.uid() = inviter_id);
CREATE POLICY \product_policy\ ON shhhhcoin_products FOR SELECT TO authenticated USING (status = 'active');
CREATE POLICY \purchase_policy\ ON shhhhcoin_purchases FOR SELECT TO authenticated USING (auth.uid() = user_id);
