-- ================================================================================================
-- MIGRAÇÃO DO SISTEMA SHHHHCOIN
-- Sistema: Hush Audio Echoes
-- ================================================================================================

-- Enum para tipos de transação
CREATE TYPE IF NOT EXISTS shhhhcoin_transaction_type AS ENUM ('earned', 'spent', 'purchased', 'refunded', 'bonus');

-- Enum para status de convite
CREATE TYPE IF NOT EXISTS referral_status AS ENUM ('pending', 'completed', 'expired');

-- Enum para status de produto
CREATE TYPE IF NOT EXISTS product_status AS ENUM ('active', 'inactive', 'sold_out');

-- ================================================================================================
-- TABELA: CARTEIRAS DE SHHHHCOIN
-- ================================================================================================

CREATE TABLE IF NOT EXISTS shhhhcoin_wallets (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    balance DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    total_earned DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    total_spent DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(user_id),
    CONSTRAINT positive_balance CHECK (balance >= 0)
);

-- ================================================================================================
-- TABELA: HISTÓRICO DE TRANSAÇÕES
-- ================================================================================================

CREATE TABLE IF NOT EXISTS shhhhcoin_transactions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    wallet_id UUID NOT NULL REFERENCES shhhhcoin_wallets(id) ON DELETE CASCADE,
    transaction_type shhhhcoin_transaction_type NOT NULL,
    amount DECIMAL(10,2) NOT NULL,
    description TEXT NOT NULL,
    reference_id UUID, -- ID de referência (convite, compra, etc.)
    reference_type TEXT, -- Tipo de referência (invite, purchase, etc.)
    metadata JSONB DEFAULT '{}',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT positive_amount CHECK (amount > 0)
);

-- ================================================================================================
-- TABELA: CONVITES DE REFERRAL
-- ================================================================================================

CREATE TABLE IF NOT EXISTS referral_invites (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    inviter_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    invited_user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    invite_code TEXT NOT NULL UNIQUE,
    status referral_status NOT NULL DEFAULT 'pending',
    reward_amount DECIMAL(10,2) NOT NULL DEFAULT 100.00,
    ip_address INET,
    user_agent TEXT,
    completed_at TIMESTAMP WITH TIME ZONE,
    expires_at TIMESTAMP WITH TIME ZONE DEFAULT (NOW() + INTERVAL '30 days'),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT different_users CHECK (inviter_id != invited_user_id)
);

-- ================================================================================================
-- TABELA: PRODUTOS/FUNCIONALIDADES
-- ================================================================================================

CREATE TABLE IF NOT EXISTS shhhhcoin_products (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    description TEXT NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    category TEXT NOT NULL,
    status product_status NOT NULL DEFAULT 'active',
    metadata JSONB DEFAULT '{}',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT positive_price CHECK (price > 0)
);

-- ================================================================================================
-- TABELA: COMPRAS REALIZADAS
-- ================================================================================================

CREATE TABLE IF NOT EXISTS shhhhcoin_purchases (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    product_id UUID NOT NULL REFERENCES shhhhcoin_products(id) ON DELETE CASCADE,
    transaction_id UUID NOT NULL REFERENCES shhhhcoin_transactions(id) ON DELETE CASCADE,
    amount_paid DECIMAL(10,2) NOT NULL,
    status TEXT NOT NULL DEFAULT 'completed',
    activated_at TIMESTAMP WITH TIME ZONE,
    expires_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    CONSTRAINT positive_amount_paid CHECK (amount_paid > 0)
);

-- ================================================================================================
-- ÍNDICES PARA PERFORMANCE
-- ================================================================================================

CREATE INDEX IF NOT EXISTS idx_shhhhcoin_wallets_user_id ON shhhhcoin_wallets(user_id);
CREATE INDEX IF NOT EXISTS idx_shhhhcoin_transactions_user_id ON shhhhcoin_transactions(user_id);
CREATE INDEX IF NOT EXISTS idx_shhhhcoin_transactions_created_at ON shhhhcoin_transactions(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_referral_invites_inviter_id ON referral_invites(inviter_id);
CREATE INDEX IF NOT EXISTS idx_referral_invites_invite_code ON referral_invites(invite_code);
CREATE INDEX IF NOT EXISTS idx_referral_invites_status ON referral_invites(status);
CREATE INDEX IF NOT EXISTS idx_shhhhcoin_products_status ON shhhhcoin_products(status);
CREATE INDEX IF NOT EXISTS idx_shhhhcoin_purchases_user_id ON shhhhcoin_purchases(user_id);

-- ================================================================================================
-- FUNÇÃO: CRIAR CARTEIRA PARA NOVO USUÁRIO
-- ================================================================================================

CREATE OR REPLACE FUNCTION create_shhhhcoin_wallet()
RETURNS TRIGGER AS q
BEGIN
    INSERT INTO shhhhcoin_wallets (user_id, balance, total_earned, total_spent)
    VALUES (NEW.id, 0.00, 0.00, 0.00);
    RETURN NEW;
END;
q LANGUAGE plpgsql;

-- ================================================================================================
-- FUNÇÃO: ADICIONAR SHHHHCOINS COM SEGURANÇA
-- ================================================================================================

CREATE OR REPLACE FUNCTION add_shhhhcoins(
    p_user_id UUID,
    p_amount DECIMAL(10,2),
    p_description TEXT,
    p_transaction_type shhhhcoin_transaction_type DEFAULT 'earned',
    p_reference_id UUID DEFAULT NULL,
    p_reference_type TEXT DEFAULT NULL
) RETURNS UUID AS q
DECLARE
    v_wallet_id UUID;
    v_transaction_id UUID;
BEGIN
    -- Validar parâmetros
    IF p_amount <= 0 THEN
        RAISE EXCEPTION 'Amount must be positive';
    END IF;
    
    -- Obter carteira do usuário
    SELECT id INTO v_wallet_id
    FROM shhhhcoin_wallets
    WHERE user_id = p_user_id;
    
    IF v_wallet_id IS NULL THEN
        RAISE EXCEPTION 'Wallet not found for user';
    END IF;
    
    -- Atualizar saldo da carteira
    UPDATE shhhhcoin_wallets
    SET 
        balance = balance + p_amount,
        total_earned = total_earned + p_amount,
        updated_at = NOW()
    WHERE id = v_wallet_id;
    
    -- Criar transação
    INSERT INTO shhhhcoin_transactions (
        user_id, wallet_id, transaction_type, amount, description,
        reference_id, reference_type
    ) VALUES (
        p_user_id, v_wallet_id, p_transaction_type, p_amount, p_description,
        p_reference_id, p_reference_type
    ) RETURNING id INTO v_transaction_id;
    
    RETURN v_transaction_id;
END;
q LANGUAGE plpgsql;

-- ================================================================================================
-- FUNÇÃO: GASTAR SHHHHCOINS COM SEGURANÇA
-- ================================================================================================

CREATE OR REPLACE FUNCTION spend_shhhhcoins(
    p_user_id UUID,
    p_amount DECIMAL(10,2),
    p_description TEXT,
    p_reference_id UUID DEFAULT NULL,
    p_reference_type TEXT DEFAULT NULL
) RETURNS UUID AS q
DECLARE
    v_wallet_id UUID;
    v_current_balance DECIMAL(10,2);
    v_transaction_id UUID;
BEGIN
    -- Validar parâmetros
    IF p_amount <= 0 THEN
        RAISE EXCEPTION 'Amount must be positive';
    END IF;
    
    -- Obter carteira e saldo atual
    SELECT id, balance INTO v_wallet_id, v_current_balance
    FROM shhhhcoin_wallets
    WHERE user_id = p_user_id;
    
    IF v_wallet_id IS NULL THEN
        RAISE EXCEPTION 'Wallet not found for user';
    END IF;
    
    -- Verificar se tem saldo suficiente
    IF v_current_balance < p_amount THEN
        RAISE EXCEPTION 'Insufficient balance';
    END IF;
    
    -- Atualizar saldo da carteira
    UPDATE shhhhcoin_wallets
    SET 
        balance = balance - p_amount,
        total_spent = total_spent + p_amount,
        updated_at = NOW()
    WHERE id = v_wallet_id;
    
    -- Criar transação
    INSERT INTO shhhhcoin_transactions (
        user_id, wallet_id, transaction_type, amount, description,
        reference_id, reference_type
    ) VALUES (
        p_user_id, v_wallet_id, 'spent', p_amount, p_description,
        p_reference_id, p_reference_type
    ) RETURNING id INTO v_transaction_id;
    
    RETURN v_transaction_id;
END;
q LANGUAGE plpgsql;

-- ================================================================================================
-- FUNÇÃO: PROCESSAR CONVITE COMPLETADO
-- ================================================================================================

CREATE OR REPLACE FUNCTION process_referral_completion(
    p_invite_id UUID
) RETURNS BOOLEAN AS q
DECLARE
    v_invite_record referral_invites%ROWTYPE;
    v_transaction_id UUID;
BEGIN
    -- Obter dados do convite
    SELECT * INTO v_invite_record
    FROM referral_invites
    WHERE id = p_invite_id AND status = 'pending';
    
    IF NOT FOUND THEN
        RETURN FALSE;
    END IF;
    
    -- Marcar convite como completado
    UPDATE referral_invites
    SET 
        status = 'completed',
        completed_at = NOW()
    WHERE id = p_invite_id;
    
    -- Creditar pontos para o usuário que fez o convite
    SELECT add_shhhhcoins(
        v_invite_record.inviter_id,
        v_invite_record.reward_amount,
        'Bônus por convite de amigo',
        'bonus',
        p_invite_id,
        'referral'
    ) INTO v_transaction_id;
    
    RETURN TRUE;
END;
q LANGUAGE plpgsql;

-- ================================================================================================
-- TRIGGER: CRIAR CARTEIRA PARA NOVOS USUÁRIOS
-- ================================================================================================

DROP TRIGGER IF EXISTS create_wallet_on_user_creation ON auth.users;
CREATE TRIGGER create_wallet_on_user_creation
    AFTER INSERT ON auth.users
    FOR EACH ROW
    EXECUTE FUNCTION create_shhhhcoin_wallet();

-- ================================================================================================
-- TRIGGER: PROCESSAR CONVITE QUANDO USUÁRIO POSTA PRIMEIRO ÁUDIO
-- ================================================================================================

CREATE OR REPLACE FUNCTION process_first_audio_post()
RETURNS TRIGGER AS q
DECLARE
    v_invite_id UUID;
    v_is_first_post BOOLEAN;
BEGIN
    -- Verificar se é o primeiro post do usuário
    SELECT COUNT(*) = 1 INTO v_is_first_post
    FROM audio_posts
    WHERE user_id = NEW.user_id;
    
    IF v_is_first_post THEN
        -- Procurar convite pendente para este usuário
        SELECT id INTO v_invite_id
        FROM referral_invites
        WHERE invited_user_id = NEW.user_id 
        AND status = 'pending'
        AND expires_at > NOW()
        LIMIT 1;
        
        -- Se encontrou convite, processar
        IF v_invite_id IS NOT NULL THEN
            PERFORM process_referral_completion(v_invite_id);
        END IF;
    END IF;
    
    RETURN NEW;
END;
q LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS process_referral_on_first_post ON audio_posts;
CREATE TRIGGER process_referral_on_first_post
    AFTER INSERT ON audio_posts
    FOR EACH ROW
    EXECUTE FUNCTION process_first_audio_post();

-- ================================================================================================
-- INSERIR PRODUTOS INICIAIS
-- ================================================================================================


-- ================================================================================================
-- POLÍTICAS RLS (Row Level Security)
-- ================================================================================================

-- Habilitar RLS nas tabelas
ALTER TABLE shhhhcoin_wallets ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_transactions ENABLE ROW LEVEL SECURITY;
ALTER TABLE referral_invites ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_products ENABLE ROW LEVEL SECURITY;
ALTER TABLE shhhhcoin_purchases ENABLE ROW LEVEL SECURITY;

-- Políticas para carteiras
CREATE POLICY \Users
can
view
their
own
wallet\ ON shhhhcoin_wallets
    FOR SELECT TO authenticated
    USING (auth.uid() = user_id);

-- Políticas para transações
CREATE POLICY \Users
can
view
their
own
transactions\ ON shhhhcoin_transactions
    FOR SELECT TO authenticated
    USING (auth.uid() = user_id);

-- Políticas para convites
CREATE POLICY \Users
can
view
their
own
invites\ ON referral_invites
    FOR SELECT TO authenticated
    USING (auth.uid() = inviter_id OR auth.uid() = invited_user_id);

CREATE POLICY \Users
can
create
invites\ ON referral_invites
    FOR INSERT TO authenticated
    WITH CHECK (auth.uid() = inviter_id);

-- Políticas para produtos
CREATE POLICY \Anyone
can
view
active
products\ ON shhhhcoin_products
    FOR SELECT TO authenticated
    USING (status = 'active');

-- Políticas para compras
CREATE POLICY \Users
can
view
their
own
purchases\ ON shhhhcoin_purchases
    FOR SELECT TO authenticated
    USING (auth.uid() = user_id);

-- ================================================================================================
-- FINALIZAÇÃO
-- ================================================================================================

-- Comentário de conclusão
COMMENT ON TABLE shhhhcoin_wallets IS 'Carteiras de shhhhcoin dos usuários';
COMMENT ON TABLE shhhhcoin_transactions IS 'Histórico de todas as transações de shhhhcoin';
COMMENT ON TABLE referral_invites IS 'Sistema de convites por referral';
COMMENT ON TABLE shhhhcoin_products IS 'Produtos e funcionalidades disponíveis para compra';
COMMENT ON TABLE shhhhcoin_purchases IS 'Compras realizadas pelos usuários';

